@media only screen and (min-width: 1440px) {
    .container-missie {
        top: -50px;
    }

    .container-deelnemen {
        margin-top: 290px;
    }

    main > .text-block {
        margin: 500px 0 -10px 20%;
        padding: 40px 90px 140px 60px;
    }

    /* Wedstrijdreglement */
    .pillar-right-wedstrijdreglement {
        top: 70%;
    }

    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 8.8%, cover;
    }

    /* Stem */
    .stem-page .pillar-right-wedstrijdreglement {
        top: 200%;
    }
}

@media only screen and (max-width: 1440px) {
    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 8.5%, cover;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container-zijn .text-block {
        top: -80px
    }

    .button {
        font-size: 14px;
    }

    .container-missie {
        top: -120px;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
    }

    .container-missie img {
        max-width: 60%;
        align-self: flex-end;
    }

    .container-missie .text-block {
        display: flex;
        justify-content: center;
        top: -40px;
        align-self: center;
        max-width: 90%;
    }

    .container-missie .text-block p:nth-child(1) {
        margin-right: 40px;
        margin-top: 0;
    }

    .container-deelnemen {
        margin: 70px 0 0 180px
    }

    .pillar-right {
        top: 950px;
    }

    main > .text-block {
        margin: 135px 0 30px 17%;
        padding-bottom: 80px;
    }

    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 8.05%, cover;
    }

    /* Wedstrijdreglement */
    .pos-right {
        font-size: 14px;
    }

    .pillar-right-wedstrijdreglement {
        top: 80%;
    }

    .content-background ul li {
        padding: 0 50px;
    }

    .main-subpage li+li {
        margin-top: 30px;
    }

    /* Stem */
    .line-wedstrijdreglement {
        margin-top: -60px;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 200%;
    }
}


@media only screen and (max-width: 768px) {
    /* Wedstrijdreglement */
    .pillar-left-wedstrijdreglement {
        top: 30%;
        height: 350px;
    }

    .pillar-right-wedstrijdreglement {
        top: 60%;
        height: 450px;
    }

    .content-background {
        padding: 30px 50px;
    }
    
    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 7.5%, cover;
    }

    /* Stem */
    .stem-page .pillar-left-wedstrijdreglement {
        top: 80%;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 200%;
    }

    .stem-nu {
        margin: -10px auto 30px auto;
    }
    
    .logo-container {
        height: 300px;
    }

    .line-wedstrijdreglement {
        margin-top: -40px;
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 16px;
    }
    .nav-items {
        display: none;
    }

    .pencil-line {
        display: none;
    }
    
    .mobile-line {
        display: block;
    }

    .line-header {
        width: 45%;
        right: 0;
        top: 0;
    }

    .container-zijn {
        max-width: 100%;
        padding: 0 20px;
    }
 
    .container-missie {
        margin: 0 100px 0 0;
    }    

    .container-missie .text-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    footer > img {
        max-width: 65%;
    }

    footer ul {
        width: 100%;
        justify-content: center;
    }

    footer a {
        width: 20%;
        margin-right: 0;
    }
    
    footer ul img {
        height: 50%;
    }    

    /* Wedstrijdreglment */
    .content-background {
        margin-top: -70px;
        width: 60%;
    }
    
    .main-subpage ul {
        margin-top: 70px;
    }

    .content-background ul li {
        padding: 0;
    }

    /* Inschrijven */
    .title-deelnemen {
        width: 90%;
        margin: 0 auto;
    }

    .inside-form {
        margin-top: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .container span {
        font-size: 14px;
    }

    /* Stem */
    .stem-page .pillar-left-wedstrijdreglement {
        top: 60%;
        height: 200px;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 150%;
        height: 300px;
    }

    .logo-container {
        height: 175px;
    }

    .main-stem {
        column-gap: 20px;
    }

    .logo-title {
        font-size: 13px;
    }

    .logo-slogan {
        font-size: 10px;
    }

    .button-stem {
        padding: 5px 10px 7px 10px;
    }

    .line-wedstrijdreglement {
        margin-top: 0;
    }
}