@media only screen and (max-width: 1440px) {
    .container-missie {
        top: -160px;
    }

    .container-deelnemen {
        margin-top: 0;
    }

    main > .text-block {
        margin: 226px 0 10px 20%;
        padding: 1px 90px 110px 60px;
    }

    .pillar-left {
        top: 1690px;
    }

    .pillar-right-wedstrijdreglement {
        top: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container-zijn .text-block {
        top: -80px
    }

    .container-missie {
        top: -120px;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
    }

    .container-missie img {
        max-width: 60%;
        align-self: flex-end;
    }

    .container-missie .text-block {
        display: flex;
        justify-content: center;
        top: -40px;
        align-self: center;
        max-width: 90%;
    }

    .container-missie .text-block p:nth-child(1) {
        margin-right: 40px;
        margin-top: 0;
    }

    .container-deelnemen {
        margin: 70px 0 0 180px
    }

    .pillar-right {
        height: 500px;
        top: 950px;
    }

    .pillar-left {
        height: 350px;
        top: 1300px;
    }

    .pillar-right-wedstrijdreglement {
        top: 60%;
    }

    main > .text-block {
        margin: 135px 0 30px 17%;
        padding-bottom: 80px;
    }


    /* Stem */
    .line-wedstrijdreglement {
        margin-top: -60px;
    }
}


@media only screen and (max-width: 768px) {
    /* Wedstrijdreglement */
    .pillar-right-wedstrijdreglement {
        top: 80%;
    }
    
    /* Stem */
    .stem-page .pillar-left-wedstrijdreglement {
        top: 80%;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 200%;
    }

    .stem-nu {
        margin: -10px auto 30px auto;
    }
    
    .logo-container {
        height: 300px;
    }

    .line-wedstrijdreglement {
        margin-top: -40px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 16px;
    }
    .nav-items {
        display: none;
    }

    .pencil-line {
        display: none;
    }
    
    .mobile-line {
        display: block;
    }

    .line-header {
        width: 45%;
        right: 0;
        top: 0;
    }

    .container-zijn {
        max-width: 100%;
        padding: 0 20px;
    }

    .container-missie {
        margin: 0 100px 0 0;
    }    

    .container-missie .text-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    footer > img {
        max-width: 65%;
    }

    footer ul {
        width: 100%;
        justify-content: center;
    }

    footer a {
        width: 20%;
        margin-right: 0;
    }
    
    footer ul img {
        height: 50%;
    }    

    /* Stem */
    .stem-page .pillar-left-wedstrijdreglement {
        top: 60%;
        height: 200px;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 150%;
        height: 300px;
    }

    .logo-container {
        height: 175px;
    }

    .main-stem {
        column-gap: 20px;
    }

    .logo-title {
        font-size: 13px;
    }

    .logo-slogan {
        font-size: 10px;
    }

    .button-stem {
        padding: 5px 10px 7px 10px;
    }

    .line-wedstrijdreglement {
        margin-top: 0;
    }
}