@font-face {
    font-family: JosefinSans;
    src: url(fonts/JosefinSans-Medium.ttf);
  }

body {
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    padding: 60px;
}

.home-background {
    background-image: url("images/logo_icoon.svg");
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: 100px;
    background-size: 90%;
    height: 100vh;
}

nav {
    height: 80px;
    margin-bottom: 60px;
}

img {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

main h1 {
    font-size: 55px;
    margin-bottom: 45px;
    font-weight: 800;
    color: #1E64C8;
    font-family: sans-serif;
}

.button-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E64C8;
    height: 250px;
    width: 250px;
    transition: 0.7s;
}

.button div {
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.4s;
}

.button:hover{
    background-color: #487fcc;
}

.button:hover div{
    margin-bottom: 15px;
}

.button a .button div:after {
    padding-bottom: 20px;
}



/* Stijlgids */

.section-header {
    text-transform: uppercase;
}

.colors {
    display: flex;
    flex-wrap: wrap;
}

.color-block {
    margin-right: 100px;
}

.color {
    height: 150px;
    width: 150px;
    background-color: black;
    border-style: solid;
    border-width: 3px;
}

.divider {
    height: 7px;
    width: 100%;
    background-color: black;
    margin: 25px auto;
}

.typography h1, .typography h2, .body-text {
    margin: 0;
}

.title-block {
    margin: 30px 0;
}

.stijlgids1 h1 {
    font-family: acumin-pro, sans-serif;
}

.stijlgids2 h1, .stijlgids2 h2 {
    font-family: pilsner, sans-serif;
}

.stijlgids2 .body-text {
    font-family: Arial, Helvetica, sans-serif;
}

.stijlgids3 h1 {
    font-family: JosefinSans;
}

.font-description {
    margin: 10px 0 30px 0;
}

.button-example {
    color: black;
    border-style: solid;
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.nav-block a {
    font-size: 20px;
    margin-right: 50px;
}

.icons {
    display: flex;
}

.icons img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 50px;
}