.stem-nu {
    width: 70%;
    margin: 0 auto 60px auto;
}

.main-stem {
    display: grid;
    width: 90%;
    margin: 0 5%; 
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.logo-container {
    height: 400px;
    background-color: white;
}