@font-face {
    font-family: 'Segoe';
    src: url(fonts/SegoeUIVF.ttf);
}

body {
    margin: 0;
    color: white;
    font-family: 'Segoe';
    font-size: 22px;
    line-height: 1.3;
}

.wrapper {
    background-image: linear-gradient(#1E64C8, #0497EA);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    width: 100%;
}

nav {
    padding: 20px 15px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

nav>a {
    max-width: 10%;
}

nav a img {
    max-height: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.nav-items a {
    display: block;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

/* MAIN */
.pencil-line {
    position: absolute;
}

.mobile-line {
    display: none;
}

.pillar {
    position: absolute;
    height: 500px;
}

.pillar-right {
    align-self: flex-end;
}

.pillar-right-home {
    height: 700px;
    top: 1200px;
}

.pillar-left-home {
    top: 1750px;
}

main {
    z-index: 1;
    width: 100%;
}

.container-zijn {
    max-width: 80%;
    padding: 40px 0 20px 100px;
}

.container-zijn .text-block {
    position: relative;
    top: -100px;
    max-width: 40%;
}

.text-with-button {
    margin-bottom: 25px;
}

.button {
    cursor: pointer;
    width: fit-content;
    margin-top: 15px;
    padding: 10px 20px 15px 20px;
    border-radius: 10px;
    color: #1E64C8;
    font-weight: bold;
    background-color: #FFD200;
    font-size: 16px;
    text-decoration: none;
}

.container-missie {
    margin: 0 100px 0 auto;
    max-width: 50%;
    position: relative;
    top: -160px;
}

.container-missie .text-block {
    position: relative;
    left: 70px;
    top: -130px;
    max-width: 80%;
}

.container-deelnemen {
    max-width: 40%;
    margin: 30px 0 0 250px;
    display: flex;
    flex-direction: column;
}

.container-deelnemen .text-block {
    z-index: 10;
}

.container-deelnemen img {
    align-self: end;
    max-width: 80%;
}

.container-deelnemen .text-block {
    max-width: 80%;
}

main>.text-block {
    max-width: 25%;
    padding: 30px 150px 100px 80px;
    margin: 337px 0 10px 20%;
    background-image: url(images/text-balloon.svg);
    background-repeat: no-repeat;
    background-size: 90%;
}

main>.text-block>p {
    position: relative;
    top: 40px;
}

/* FOOTER */
footer {
    z-index: 5;
    height: 80px;
    background-color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: end;
    margin: 0;
    height: 100%;
    width: 60%;
}

footer a {
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

footer ul img {
    max-height: 80%;
}

/* Wedstrijdreglement */
.wedstrijdreglement {
    width: 90%;
    z-index: 2;
}

.main-subpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-background {
    display: flex;
    flex-direction: column;
    border-radius: 75px;
    background: rgba(30, 100, 200, 0.6);
    width: 70%;
    margin-top: -170px;
    padding: 50px 75px;
    z-index: 1;
}

.content-background ul {
    flex-direction: column;
}

.main-subpage ul {
    list-style: inside;
    width: 100%;
    margin-bottom: 100px;
}

.main-subpage li+li {
    margin-top: 45px;
}

.main-subpage ul:nth-child(1) {
    margin-top: 175px;
}

.pos-right {
    align-self: end;
}

.line-wedstrijdreglement {
    width: 60%;
    margin-top: -100px;
}

.pillar-left-wedstrijdreglement {
    top: 40%;
}

.pillar-right-wedstrijdreglement {
    top: 100%;
}


/* Inschrijven */
.wrapper-inschrijven {
    background-image: url("images/line-inschrijven-1.svg"), linear-gradient(#1E64C8, #0497EA);
    background-size: 8.6%, cover;
    background-position-x: 15%, 0;
}

header {
    width: 100%;
}

.image {
    position: relative;
    bottom: 60px;
}

.image img {
    width: 100%;
}

form div p {
    margin-bottom: 10px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0.35;
    border: none;
    border-radius: 20px;
}

#text-field {
    width: 100%;
    padding: 15px 15px 120px 15px;
}

input[type=radio] {
    margin-right: 15px;
}

.inside-form {
    margin-top: 150px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 40px;
}

.title-deelnemen {
    width: 60%;
    z-index: 2;
    align-self: flex-start;
    margin-left: 3%;
}

.line-inschrijven-top {
    width: 20%;
    margin-top: -200px;
}

.line-inschrijven-bottom {
    width: 30%;
}

form .button {
    margin-left: auto;
    grid-row: 7/8;
}

.slogan-box {
    grid-row: 4/5;
    grid-column: 1/3;
}

.large-box {
    grid-row: 5/6;
    grid-column: 1/3;
}

.container {
    grid-column: 1/2;
}

.extra-sign-up {
    grid-row: 6/7;
}

.extra-sign-up + .container {
    grid-row: 7/8;
}

.container span {
    font-size: 18px;
}


/* Stem */
.stem-nu {
    width: 70%;
    margin: 0 auto 40px auto;
}

.main-stem {
    display: grid;
    width: 90%;
    margin: 0 5%;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.logo-container {
    height: 400px;
    background-color: white;
}

.logo-image {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.logo-image>img {
    max-height: 80%;
    max-width: 90%;
}

.logo-info {
    height: 20%;
    background-color: #1E64C8;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-title {
    font-weight: bold;
}

.logo-slogan {
    font-size: 15px;
    font-style: italic;
}

.button-stem {
    align-self: center;
    padding: 8px 20px 10px 20px;
    margin: 0;
    max-height: 55%;
}