body {
    margin: 0;
}

.wrapper {
    position: absolute;
}

.home-background {
    background-image: url("images/logo_icoon.svg");
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: 100px;
    background-size: 90%;
}

nav {
    height: 100px;
    padding: 10px;
}

img {
    height: 100%;
}

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

main h1 {
    font-size: 55px;
    margin-bottom: 45px;
    font-weight: 800;
    color: #1E64C8;
    font-family: sans-serif;
}

.button-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E64C8;
    height: 250px;
    width: 250px;
    transition: 0.7s;
}

.button div {
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.4s;
}

.button:hover{
    background-color: #487fcc;
}

.button:hover div{
    margin-bottom: 15px;
}

.button a .button div:after {
    padding-bottom: 20px;
}



/* Stijlgids */

.styleguide {
    padding: 60px;
}

.colors {
    display: flex;
    flex-wrap: wrap;
}

.color-block {
    margin-right: 100px;
}

.color {
    height: 150px;
    width: 150px;
    background-color: black;
}

.divider {
    height: 7px;
    width: 100%;
    background-color: black;
    margin: 25px auto;
}