@media only screen and (max-width: 1900px) {
    .container-missie {
        margin-top: -1%;
        max-width: 45%;
    }
}

@media only screen and (max-width: 1700px) {
    .text-balloon {
        margin-top: 10%;
    }
    .text-balloon p {
        top: 30%;
    }
}

@media only screen and (max-width: 1600px) {
    .container-missie {
        margin-top: -4%;
    }

    .container-deelnemen {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 1440px) {
    /* Wedstrijdreglement */
    .pillar-right-wedstrijdreglement {
        top: 70%;
    }

    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 8.8%, cover;
    }

    /* Stem */
    .stem-page .pillar-right-wedstrijdreglement {
        top: 200%;
    }
}

@media only screen and (max-width: 1440px) {
    .container-missie {
        margin-top: -10%;
    }

    .container-deelnemen {
        margin-top: 20%;
    }

    .text-balloon p {
        top: 20%;
    }

    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 8.5%, cover;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
    }

    .pillar-left-home {
        height: 350px;
        top: 60%;
    }

    .pillar-right {
        height: 450px;
        top: 80%;
    }

    .container-missie {
        margin-top: -10%;
        max-width: 50%;
    }

    .container-missie .text-block {
        max-width: 100%;
    }

    .container-deelnemen {
        margin-top: 20%;
    }

    .text-balloon {
        margin-top: 5%;
    }

    /* Inschrijven */
    .wrapper-inschrijven {
        background-size: 8.05%, cover;
    }

    /* Wedstrijdreglement */
    .pos-right {
        font-size: 14px;
    }

    .pillar-left-wedstrijdreglement {
        top: 30%;
        height: 350px;
    }

    .pillar-right-wedstrijdreglement {
        top: 55%;
    }

    .content-background ul li {
        padding: 0 50px;
    }

    .main-subpage li+li {
        margin-top: 30px;
    }

    /* Stem */
    .line-wedstrijdreglement {
        margin-top: -60px;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 200%;
    }
}

@media only screen and (max-width: 1000px) {
    .text-balloon {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 35px;
    }

    .nav-items {
        display: none;
    }

    .overlay {
        overflow-y: auto;
    }

    nav span {
        display: block;
    }

    .pencil-line,
    .container-zijn> :nth-child(1),
    .container-missie> :nth-child(1) {
        display: none;
    }

    .mobile-line,
    .zijn-jullie-mobile,
    .missie-visie-mobile,
    .noah-mobile {
        display: block;
    }

    .line-header {
        position: absolute;
        z-index: 10;
        max-width: 40%;
        right: 0;
        top: 0;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        margin-top: 0;
    }

    .container-zijn {
        max-width: 90%;
        padding: 0;
    }

    .container-zijn .text-block {
        margin-top: -25%;
        margin-left: 5%;
        max-width: 65%;
    }

    .container-missie {
        margin: 15% 0;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .missie-visie-mobile {
        max-width: 75%;
    }

    .container-deelnemen {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 75%;
        margin: 0;
    }

    .text-balloon {
        display: none;
    }

    .noah-mobile {
        max-width: 30%;
        margin: 0 10% 12px auto;
    }

    /* Wedstrijdreglement */
    .pillar-left-wedstrijdreglement {
        top: 30%;
        height: 350px;
    }

    .pillar-right-wedstrijdreglement {
        top: 60%;
        height: 450px;
    }

    .content-background {
        padding: 30px 50px;
    }

    /* Inschrijven */
    .wrapper-inschrijven {
        background-image: linear-gradient(#1e64c8, #0497ea);
        background-size: cover;
        background-position-x: 0;
    }

    .victory-cup {
        left: 20%;
        top: 10%;
    }

    .wrapper-inschrijven .pillar-left-wedstrijdreglement {
        top: 110%;
    }

    .wrapper-inschrijven .pillar-right-wedstrijdreglement {
        top: 25%;
    }

    .title-deelnemen {
        width: 90%;
        margin: -40px auto 100px auto;
    }

    .content-background {
        width: 60%;
    }

    .inside-form {
        margin-top: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .container span {
        font-size: 14px;
    }

    input[type=text], input[type=email] {
        font-size: 13px;
    }

    .noah-inschrijven {
        max-width: 18%;
    }

    /* Stem */
    .stem-page .pillar-left-wedstrijdreglement {
        top: 80%;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 130%;
    }

    .stem-nu {
        margin: -10px auto 30px auto;
    }

    .main-stem {
        column-gap: 25px;
    }

    .logo-container {
        height: 300px;
    }

    .line-wedstrijdreglement {
        margin-top: 0;
    }
}

@media only screen and (max-width: 426px) {
    .overlay a {
        font-size: 25px;
    }

    .overlay .closebtn {
        font-size: 45px;
        top: 5px;
        right: 25px;
    }

    .pillar-left-home {
        height: 250px;
        top: 125%;
    }

    .pillar-right {
        height: 300px;
        top: 40%;
    }

    .pillar-right-wedstrijdreglement {
        top: 60%;
        height: 450px;
    }

    .container-zijn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-zijn .text-block {
        margin-top: 10%;
        margin-left: 0;
        max-width: 100%;
    }

    .container-missie,
    .container-deelnemen {
        max-width: 90%;
    }

    .container-deelnemen {
        margin-bottom: 20%;
    }

    .container-deelnemen img {
        align-self: center;
    }

    .container-deelnemen .text-block {
        margin-top: 10%;
        max-width: 100%;
    }

    .noah-mobile {
        margin: 0 5% 12px auto;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    footer>img {
        max-width: 65%;
    }

    footer ul {
        width: 100%;
        justify-content: center;
    }

    footer a {
        width: 20%;
        margin-right: 0;
    }

    footer ul img {
        height: 50%;
    }

    /* Wedstrijdreglment */
    .content-background {
        margin-top: -70px;
        padding: 30px 35px;
    }

    .main-subpage ul {
        margin-top: 70px;
    }

    .content-background ul li {
        padding: 0;
    }

    /* Inschrijven */
    .victory-cup {
        left: 3%;
        top: 27%;
    }

    .line-inschrijven-bottom {
        width: 50%;
    }

    .wrapper-inschrijven .pillar-right-wedstrijdreglement {
        top: 35%;
    }

    .inside-form {
        margin-top: 0;
    }

    .noah-inschrijven {
        top: 110%;
    }

    /* Stem */
    .stem-page .pillar-left-wedstrijdreglement {
        top: 60%;
        height: 200px;
    }

    .stem-page .pillar-right-wedstrijdreglement {
        top: 120%;
        height: 300px;
    }

    .logo-container {
        height: 175px;
    }

    .main-stem {
        column-gap: 20px;
        grid-template-columns: 1fr;
    }

    .logo-title {
        font-size: 13px;
    }

    .logo-slogan {
        font-size: 10px;
    }

    .button-stem {
        padding: 5px 10px 7px 10px;
    }

    .line-wedstrijdreglement {
        margin-top: 20px;
    }
}